<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses</title>
  </head>
  <body>
    <h2>Add a new course</h2>
    <form class="" action="/courses" method="post">
      {% csrf_token %}
      <label for="">Name</label>
      <input type="text" name="name" value=""><br>
      <label for="">Description</label>
      <input type="text" name="description" value="">
      <input type="submit" name="" value="Add">
    </form>
    <table>
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      {% for course in courses %}
      <tr>
        <td>{{course.course}}</td>
        <td>{{course.description}}</td>
        <td><a href="/delete/{{course.id}}">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
